@media (min-width: 768px) {
  #mobile-indicator {
    display: none; }
  .menu-trigger {
    display: none !important; } }

@media (max-width: 1199px) {
  h1,
  .h1 {
    font-size: 45px;
    line-height: 50px; }
  .over-wrapper:before,
  .main-section-white:before {
    width: 972px;
    margin-left: -484px; }
  .header-col-logo {
    width: 15%; }
  .header-logo {
    padding: 26px 0 24px 0; }
  .header-col-menu {
    width: 54%; }
  .header-col-contacts {
    width: 31%; }
  .navbar-nav {
    margin-left: -10px;
    margin-right: -10px; }
  .navbar-nav > li {
    margin: 0 10px 10px 10px; }
  .header-phone {
    font-size: 16px;
    padding: 8px 0 5px 0; }
  .btn-1,
  .btn-1:focus {
    padding-left: 20px;
    padding-right: 20px; }
  .btn-2,
  .btn-2:focus {
    padding-left: 20px;
    padding-right: 20px; }
  .btn-dl,
  .btn-dl:focus {
    padding-left: 46px; }
  .header-contacts .btn-1,
  .header-contacts .btn-1:focus {
    padding-left: 20px;
    padding-right: 20px; }
  .page-content h1,
  .page-content .h1 {
    font-size: 35px;
    line-height: 40px; }
  .page-sidebar {
    padding-left: 20px; }
  .page-sidebar-pic {
    margin: 0 0 0 -35px; }
  .article-tmb-pic {
    width: 164px; }
  .article-tmb-descr {
    margin: 0 0 0 82px;
    padding: 34px 20px 34px 102px; }
  .article-tmb h3,
  .article-tmb .h3 {
    font-size: 20px;
    line-height: 28px; }
  .pump-descr {
    padding: 30px 30px 30px 30px;
    background: #fff;
    min-height: 373px; }
  .pump-descr ul {
    font-size: 15px;
    line-height: 20px; }
  .pump-descr ul > li {
    padding: 0 0 0 50px;
    margin: 0 0 26px 0; }
  .dl-form-wrapper h2,
  .dl-form-wrapper .h2 {
    font-size: 30px;
    line-height: 32px; }
  .dl-form {
    padding: 9px 0 0 15px; }
  .dl-form .form-group {
    width: 36%; }
  .dl-form .form-footer {
    width: 28%; }
  .app-list h3,
  .app-list .h3 {
    font-size: 26px;
    line-height: 32px; }
  .question-form {
    padding: 63px 234px 50px 40px; }
  .count {
    width: 100px; }
  .count-field {
    width: 40px; }
  table.parts-table {
    display: block;
    overflow: auto; }
  table.parts-table th {
    padding-left: 10px;
    padding-right: 10px; }
  table.parts-table td {
    padding-left: 10px;
    padding-right: 10px; }
  .history-slider {
    margin: 0 53px 0 112px; }
  .history-slider .slick-prev {
    left: -112px; }
  .history-slider .slick-next {
    right: -53px; }
  .history-descr {
    font-size: 12px;
    line-height: 20px; }
  .management-tmb {
    padding: 25px 140px 25px 25px; }
  .management-tmb-pic {
    right: 20px;
    top: -30px;
    width: 100px; }
  .management-tmb-name {
    font-size: 15px;
    line-height: 22px; }
  .tour-descr h3,
  .tour-descr .h3 {
    font-size: 26px;
    line-height: 30px; }
  ol.tour-list {
    font-size: 16px;
    line-height: 24px; }
  ol.tour-list > li {
    padding: 0 0 0 25px; }
  ol.tour-list > li:before {
    top: -3px; }
  .tour-form {
    padding: 40px 40px 40px 200px; }
  a.catalog-link {
    padding: 0 30px; }
  .catalog-link-descr {
    padding: 30px 0 30px;
    width: 50%; }
  .catalog-link-pic {
    width: 50%;
    padding: 30px 0; }
  .dl-form-wrapper-alt .dl-form {
    padding: 29px 0 0 15px; }
  .about-ttl h2,
  .about-ttl .h2 {
    font-size: 35px;
    line-height: 40px; }
  .about-descr-content {
    padding: 40px 40px 40px 200px; }
  .contacts-map-alt {
    height: 331px; }
  .contacts-descr {
    padding: 30px 35px 25px 35px; }
  .contacts-descr h3,
  .contacts-descr .h3 {
    margin: 13px 0 9px 0; }
  .contacts-descr h3:first-child,
  .contacts-descr .h3:first-child {
    margin-top: 0; } }

@media (max-width: 1199px) {
  .pros-slider {
    margin: 0 30px; } }

@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 45px; }
  h2,
  .h2 {
    font-size: 35px;
    line-height: 40px; }
  .over-wrapper:before,
  .main-section-white:before {
    width: 751px;
    margin-left: -375px; }
  label.placeholder {
    padding-left: 15px;
    padding-right: 15px; }
  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    padding-left: 15px;
    padding-right: 15px; }
  .header-col-logo {
    width: 20%; }
  .header-col-menu {
    width: 41%; }
  .header-col-contacts {
    width: 39%; }
  .back-button-wrapper .btn {
    width: auto; }
  .page-content {
    padding: 30px; }
  .article-tmb-pic {
    float: none;
    margin: 0 0 -60px 30px; }
  .article-tmb-descr {
    float: none;
    width: auto;
    margin: 0;
    padding: 80px 30px 30px 30px; }
  .pump-descr .col-xs-12 {
    width: 100%; }
  .pump-descr ul {
    margin: 0; }
  .pump-descr ul > li:before {
    top: -5px; }
  .pump-buttons .btn-2 {
    margin-bottom: 20px; }
  .dl-form-wrapper {
    margin-right: 0; }
  .dl-form-wrapper h2,
  .dl-form-wrapper .h2 {
    margin: 0 0 20px 0; }
  .dl-form {
    padding: 0;
    margin: 0; }
  .app-tmb {
    padding: 20px; }
  .app-list h3,
  .app-list .h3 {
    font-size: 20px;
    line-height: 28px; }
  .compare-list h3,
  .compare-list .h3 {
    font-size: 20px;
    line-height: 28px; }
  .question-form .form-col-phone {
    width: 100%; }
  .question-form .form-col-footer {
    width: 100%; }
  .question-form .form-footer .btn {
    width: auto; }
  .section-blockquote-descr {
    padding: 20px 20px 20px 20px; }
  .section-blockquote-author:before {
    left: -20px; }
  .management-tmb {
    padding: 110px 25px 25px 25px; }
  .management-tmb-pic {
    right: auto;
    top: auto;
    position: relative;
    margin-top: -140px;
    margin-bottom: 20px;
    height: 121px; }
  .management-tmb-pic img {
    max-height: 100%; }
  .tour-form-pic {
    margin-top: 0;
    margin-bottom: 0;
    height: 142px; }
  .tour-form-pic img {
    max-height: 100%; }
  .tour-form {
    padding: 160px 25px 25px 25px; }
  .contacts-descr {
    padding: 25px 25px 25px 25px; }
  .main-slider h2,
  .main-slider .h2 {
    font-size: 50px;
    line-height: 50px; }
  a.catalog-link {
    padding: 0 25px; }
  .catalog-link-descr {
    width: 60%; }
  .catalog-link-pic {
    width: 40%; }
  .catalog-link h3,
  .catalog-link .h3 {
    font-size: 28px;
    line-height: 32px; }
  .pros-tmb h3,
  .pros-tmb .h3 {
    font-size: 20px;
    line-height: 26px; }
  .dl-form-wrapper-alt .dl-form {
    padding: 0; }
  .about-descr-pic {
    margin-top: 0;
    margin-bottom: 0;
    height: 142px; }
  .about-descr-pic img {
    max-height: 100%; }
  .about-descr-content {
    padding: 160px 25px 25px 25px; }
  .about-ttl {
    padding-top: 0; }
  .about-ttl h2,
  .about-ttl .h2 {
    font-size: 24px;
    line-height: 30px; }
  .catalog-category-tmb-descr {
    padding: 41px 25px 40px 230px; }
  .order-form {
    padding: 25px; } }

@media (max-width: 767px) {
  #mobile-indicator {
    display: block; }
  html,
  body {
    font-size: 14px;
    line-height: 22px; }
  .main-section {
    margin: 0 0 40px 0; }
  h1,
  .h1 {
    font-size: 30px;
    line-height: 35px; }
  h2,
  .h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 15px 0; }
  .header-menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1200;
    display: none; }
  .header-menu {
    width: 250px;
    background: #fff;
    padding: 30px; }
  ul.navbar-nav {
    float: none;
    padding: 0;
    margin: 0; }
  ul.navbar-nav > li {
    display: block;
    float: none;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px 0; }
  ul.navbar-nav > li a {
    background: none; }
  .menu-trigger {
    width: 24px;
    height: 24px;
    position: fixed;
    right: 15px;
    top: 13px;
    cursor: pointer;
    z-index: 2000; }
  .menu-trigger span {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
    transition: all .3s ease; }
  .menu-trigger span:nth-child(1) {
    top: 2px; }
  .menu-trigger span:nth-child(2) {
    top: 50%;
    margin-top: -1px; }
  .menu-trigger span:nth-child(3) {
    bottom: 2px; }
  .menu-trigger.active span {
    background: #fff; }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0; }
  .menu-trigger.active span:nth-child(1) {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg); }
  .menu-trigger.active span:nth-child(3) {
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(-45deg); }
  .header-contacts .btn {
    display: none; }
  .header-col-logo {
    width: 35%; }
  .header-logo {
    padding-top: 12px;
    padding-bottom: 12px; }
  .header-col-contacts {
    text-align: left;
    width: 50%;
    padding-left: 15px !important; }
  .header-contacts {
    margin: 0;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px; }
  .header-phone {
    padding: 0; }
  ul.breadcrumb {
    font-size: 11px; }
  .catalog-category-tmb {
    padding: 0 15px; }
  .catalog-category-pic {
    float: none;
    margin: 0;
    width: auto; }
  .catalog-category-pic img {
    max-width: 100%; }
  .catalog-category-tmb-descr {
    float: none;
    width: auto;
    margin: 0;
    padding: 20px; }
  .catalog-category-tmb h3,
  .catalog-category-tmb .h3 {
    font-size: 24px;
    line-height: 30px; }
  .catalog-category-tmb-button {
    margin-top: 10px; }
  .footer-col-l {
    float: none !important;
    width: auto !important;
    padding: 20px 0 0 0; }
  .footer-col-m {
    float: none !important;
    width: auto !important;
    padding: 20px 0 0 0; }
  .footer-col-r {
    float: none !important;
    width: auto !important;
    padding: 20px 0 0 0; }
  .pump-header {
    margin-bottom: 40px; }
  .pump-descr {
    padding: 20px; }
  .pump-descr ul {
    font-size: 14px;
    line-height: 22px; }
  .pump-descr ul > li {
    margin: 0 0 10px 0;
    padding: 0 0 0 25px; }
  .pump-descr ul > li:before {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    top: 3px; }
  .pump-buttons {
    margin: 15px 0 0 0; }
  .tech-table {
    display: block;
    overflow: auto; }
  .tech-table th {
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px; }
  .tech-table td {
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px; }
  .dl-form-wrapper h2,
  .dl-form-wrapper .h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 15px 0; }
  .dl-form .form-group {
    width: auto;
    float: none; }
  .dl-form .form-footer {
    width: auto;
    float: none; }
  .app-list {
    display: block; }
  .app-list .tr {
    display: block; }
  .app-tmb {
    display: block;
    width: auto;
    border-left: none !important; }
  .app-tmb:after {
    content: "";
    display: table;
    clear: both; }
  .app-tmb + .app-tmb {
    border-top: 1px solid #e7ebf2; }
  .app-tmb-pic {
    width: 70px;
    float: left;
    margin: 0; }
  .app-tmb-pic img {
    max-width: 100%; }
  .app-tmb-descr {
    margin-left: 90px; }
  .app-list h3, .app-list .h3 {
    font-size: 16px;
    line-height: 24px; }
  .compare-header {
    margin-left: 0; }
  .quality-wrapper {
    margin: 0; }
  .quality-descr {
    padding: 20px; }
  .question-form {
    padding: 20px;
    margin: 0;
    width: auto;
    min-height: 0; }
  .question-form h2, .question-form .h2 {
    font-size: 24px;
    line-height: 30px; }
  .question-form-lead {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px 0; }
  .question-form-pic {
    display: none; }
  .section-header {
    padding: 0 15px; }
  .section-header h2, .section-header .h2 {
    width: auto;
    float: none;
    padding: 0; }
  .section-header .search-form {
    float: none;
    width: auto; }
  .search-form label.placeholder {
    right: 50px;
    text-overflow: ellipsis; }
  table.order-table {
    display: block;
    overflow: auto; }
  table.order-table th {
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px; }
  table.order-table td {
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px; }
  .article-tmb-pic {
    margin-left: 20px; }
  .article-tmb-descr {
    padding-left: 20px;
    padding-right: 20px; }
  .page-content {
    padding: 20px;
    margin: 0 -20px; }
  .page-content h1,
  .page-content .h1 {
    font-size: 24px;
    line-height: 30px; }
  .back-button-wrapper {
    margin: 20px 0 0 0; }
  .page-sidebar {
    margin: 0 -20px;
    padding: 20px; }
  .page-sidebar-pic {
    margin: 0 -20px; }
  .sidebar-form h2,
  .sidebar-form .h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 15px 0; }
  .section-blockquote-text {
    font-size: 14px;
    line-height: 22px; }
  .section-blockquote-author-name {
    font-size: 18px;
    line-height: 24px; }
  .history-slider {
    margin: 0 50px; }
  .history-slider .slick-prev {
    left: -50px; }
  .history-slider .slick-next {
    right: -50px; }
  .section-management {
    margin: 0; }
  .management-tmb {
    margin: 0 0 50px 0; }
  .section-wrapper {
    margin-left: 0;
    margin-right: 0; }
  ul.gallery-tabs > li {
    font-size: 16px; }
  ul.gallery-tabs a {
    padding: 10px 15px 10px 15px; }
  .gallery-slider {
    margin-left: -15px;
    margin-right: -15px; }
  .tour-descr {
    padding: 0; }
  .tour-descr h3, .tour-descr .h3 {
    font-size: 24px;
    line-height: 30px; }
  .tour-form-pic {
    width: auto;
    height: auto;
    margin-left: -15px;
    margin-right: -15px; }
  .tour-form {
    padding: 20px;
    margin: 0 -15px;
    width: auto;
    min-height: 0; }
  .slick-arrow {
    background: rgba(255, 255, 255, 0.7); }
  .cert-slider .slick-prev,
  .clients-slider .slick-prev {
    left: -15px; }
  .cert-slider .slick-next,
  .clients-slider .slick-next {
    right: -15px; }
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px; }
  .section-thanks {
    padding-bottom: 40px; }
  .contacts-pic {
    width: 150px; }
  .contacts-pic img {
    max-width: 100%; }
  .contacts-descr {
    padding: 20px; }
  .contacts-descr h3, .contacts-descr .h3 {
    font-size: 18px;
    line-height: 24px; }
  .main-slider .slide-content {
    height: 300px;
    padding: 30px 0 60px 0; }
  .main-slider h2, .main-slider .h2 {
    font-size: 30px;
    line-height: 35px; }
  .main-slider .slide-button {
    margin: 20px 0 0 0; }
  .main-slider ul.slick-dots {
    bottom: 10px; }
  .main-slider ul.slick-dots > li {
    margin: 0 10px; }
  a.catalog-link {
    padding: 0 20px;
    border-left: none !important; }
  .catalog-link h3, .catalog-link .h3 {
    font-size: 24px;
    line-height: 30px; }
  .catalog-link-button {
    margin: 15px 0 0 0; }
  .catalog-link-descr {
    padding-top: 25px;
    padding-bottom: 25px; }
  .catalog-link-pic {
    padding-left: 15px;
    line-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .col-xs-12 + .col-xs-12 > .catalog-link {
    border-top: 1px solid #e7ebf2; }
  .about-descr-pic {
    width: auto;
    height: auto;
    margin: 0 -15px; }
  .about-descr-content {
    margin: 0 -15px;
    padding: 20px;
    width: auto;
    min-height: 0; }
  .section-contacts {
    padding: 0; }
  .contacts-map {
    height: 240px;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto; }
  .contacts-content {
    margin: 0 -15px;
    padding: 20px; } }
